# Add a symbolic link for internal camera so the container can exclude external
# camera if needed.
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="04ca", ATTRS{idProduct}=="709b", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="04f2", ATTRS{idProduct}=="b686", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05c8", ATTRS{idProduct}=="03d1", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0408", ATTRS{idProduct}=="5186", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="671e", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="5658", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="5520", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="1bcf", ATTRS{idProduct}=="2b98", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0408", ATTRS{idProduct}=="51e8", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="04f2", ATTRS{idProduct}=="b567", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="04f2", ATTRS{idProduct}=="b687", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="04ca", ATTRS{idProduct}=="709a", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0408", ATTRS{idProduct}=="51ea", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05c8", ATTRS{idProduct}=="03d0", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="04f2", ATTRS{idProduct}=="b675", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="5986", ATTRS{idProduct}=="114f", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="57f0", SYMLINK+="camera-internal0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="04ca", ATTRS{idProduct}=="7097", SYMLINK+="camera-internal0"
